body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#main-title {
    color: #000000; /* Color del texto */
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    margin-top: 20px; /* Margen superior */
    background-color: #ffe169; /* Fondo azul con 30% de opacidad */
    padding: 10px; /* Espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados opcionales */
}

#end-title {
    font-size: 40px;
    color: #4CAF50;
}

#countdown {
    margin-top: 50px;
}

#timer {
    font-size: 64px; /* Tamaño de letra más grande */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
    background-color: #ffeb3b; /* Fondo resaltado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra de caja para resaltar */
    display: inline-block; /* Para que el contenedor de fondo se ajuste al tamaño del texto */
    margin-bottom: 40px; /* Separación inferior */
}

#gif-container {
    display: flex; /* Cambiado a flexbox */
    flex-direction: column; /* Una columna */
    align-items: center; /* Centrar los GIFs horizontalmente */
    gap: 20px; /* Espacio entre los GIFs */
    justify-content: center; /* Centrar verticalmente */
}

#gif-container img {
    width: 100%; /* Ajustar al ancho del contenedor */
    max-width: 400px; /* Ancho máximo para los GIFs (aumento del tamaño) */
    height: auto; /* Mantener la proporción */
}

.hidden {
    display: none;
}

/* Estilo para la galería al final */
#gallery-container {
    display: flex;
    flex-direction: column; /* Alinea las fotos verticalmente */
    align-items: center; /* Centra las fotos */
    gap: 10px;
    margin-top: 30px;
}

#gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    #timer {
        font-size: 32px; /* Reducir tamaño del texto del contador en pantallas pequeñas */
    }

    #gif-container {
        flex-direction: column; /* Una columna en pantallas más pequeñas */
        gap: 10px; /* Espacio reducido entre los GIFs */
    }

    #gif-container img {
        max-width: 400px; /* Ajustar el tamaño de los GIFs en pantallas pequeñas */
    }

    #countdown {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    #timer {
        font-size: 28px;
    }

    #gif-container img {
        max-width: 300px; /* Ajustar el tamaño de los GIFs en pantallas muy pequeñas */
    }
}
