body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#countdown {
    margin-top: 50px;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

#gif-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#gif-container img {
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

#gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
