body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#countdown div {
    text-align: center;
    font-size: 2rem;
}

#countdown span {
    font-size: 3rem;
    font-weight: bold;
}
